version: "3.8"

services:
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    environment:
      - ACCEPT_EULA=${ACCEPT_EULA}
      - SA_PASSWORD=${SA_PASSWORD}
      - MSSQL_PID=${MSSQL_PID}
    ports:
      - 1433:1433
    volumes:
      - mssql_data:/var/opt/mssql
    restart: unless-stopped
    networks:
      - mssql-net

volumes:
  mssql_data:

networks:
  mssql-net:
