version: "3.8"

services:
  odoo:
    image: odoo:16.0
    container_name: odoo
    restart: unless-stopped
    depends_on:
      - db
    environment:
      - HOST=${HOST}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
    networks:
      - odoo-net
      - traefik-public
    deploy:
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public
        - traefik.http.routers.odoo-http.rule=Host(`${ODOO_HOST}`)
        - traefik.http.routers.odoo-http.entrypoints=http
        - traefik.http.routers.odoo-http.middlewares=https-redirect
        - traefik.http.routers.odoo-https.rule=Host(`${ODOO_HOST}`)
        - traefik.http.routers.odoo-https.entrypoints=https
        - traefik.http.routers.odoo-https.tls=true
        - traefik.http.routers.odoo-https.tls.certresolver=le
        - traefik.http.services.odoo.loadbalancer.server.port=8069

  db:
    image: postgres:15
    container_name: odoo-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - odoo-net

volumes:
  db_data:

networks:
  odoo-net:
  traefik-public:
    external: true
