version: "3.9"

services:
  db:
    image: mysql:5.7
    container_name: wordpress-db
    volumes:
      - db_data:/var/lib/mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - wordpress-net

  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    container_name: wordpress-app
    volumes:
      - wordpress_data:/var/www/html
    ports:
      - "${WORDPRESS_PORT}:80"
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
    networks:
      - wordpress-net

volumes:
  db_data:
  wordpress_data:

networks:
  wordpress-net: