version: "3.8"

services:
  wg-easy:
    image: weejewel/wg-easy
    container_name: wireguard
    networks:
      - traefik-public
    deploy:
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
      labels:
        - traefik.enable=true
        - traefik.docker.network=traefik-public
        - traefik.constraint-label=traefik-public
        - traefik.http.routers.wg-easy-http.rule=Host(`${WG_HOST}`)
        - traefik.http.routers.wg-easy-http.entrypoints=http
        - traefik.http.routers.wg-easy-http.middlewares=https-redirect
        - traefik.http.routers.wg-easy-https.rule=Host(`${WG_HOST}`)
        - traefik.http.routers.wg-easy-https.entrypoints=https
        - traefik.http.routers.wg-easy-https.tls=true
        - traefik.http.routers.wg-easy-https.tls.certresolver=le
        - traefik.http.services.wg-easy.loadbalancer.server.port=51821
    environment:
      - WG_HOST=${WG_HOST}
      - PASSWORD=${PASSWORD}
      - WG_PORT=${WG_PORT}
    volumes:
      - .:/etc/wireguard
    ports:
      - "${WG_PORT}:51820/udp"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1

networks:
  traefik-public:
    external: true
